header {
  width: 100%;
  height: 12.07729469vw;
  background-color: #3190e8;
  display: flex;
  justify-content: space-between;
  padding: 0 2.41545894vw;
  line-height: 12.07729469vw;
}
header a,
header span,
header .myroute {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin: 0;
}
