@baseSize:4.14vw;
header{
    width: (414 / @baseSize);
    height: (50 / @baseSize);
    background-color:#3190e8;
    display: flex;
    justify-content: space-between;
    padding:0 (10 / @baseSize);
    line-height: (50 / @baseSize);
    span{
        color:white;
    }
}